<!DOCTYPE html>
{% load static %}

<html>
<head>
   
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootswatch.min.css'%} " rel="stylesheet" media="screen">
<link href="{% static 'css/table.css' %}" rel="stylesheet">
    <title>Go Fish! {% block title %}{% endblock %}</title>

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <img class="navbar-brand" src="{% static "top_logo.gif" %}" alt="Picture of logo" />
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
           
            {% if user.is_authenticated %}
             <li> Welcome {{ user.username}}!</li>
             <li><a href="/">Home</a></li>
             <li><a href="/play">Play</a></li>
            <li><a href="/shop">Shop</a></li>
             <li><a href="/help">Help</a></li>
             <li><a href="/logout">Sign Out</a></li>

        {% else %}
             <li> <a>Welcome Stranger! </a></li>
             <li ><a href="/">Home</a></li>
             <li ><a href="/help">Help</a></li>
            <li ><a href="/login">Sign In</a></li>
        {% endif %}
        
          </ul>

        </div>
      </div>
    </div>
<center>

    <div class="container">

      <div class="page-header" id="banner">
         {% if user.is_authenticated %}
 {% if user_profile %}
        <div class="row">
          <div class="col-lg-14">
           <div class="jumbotron">

        <center>
<h4>
Your Rod: {{ user_profile.rod.name }} - Your Boat: {{ user_profile.boat.name }} - Your Bait: {{ user_profile.bait.name }}
- You have {{ user_profile.balance }} gold coins
    </h4>
</center>
</div>
</ul>


  {% endif %}
{% endif %}
</div>

</div>

           
        </div>
      </div>




<div class="container-fluid" style="max-width:800px">
    <div class="row-fluid">
     {% if user.is_authenticated %}
        <div class="span5">
            {% else %}
            <div class="span3">
                {% endif %}
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span8">
         
            {% block body_block %}
            {% endblock %}

        </div>
    </div>
  </div>
</center>



<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootswatch.js' %}"></script>


</body>

</html>
