<!DOCTYPE html>
{% load static %}

<html>
<head>
   
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootswatch.min.css'%} " rel="stylesheet" media="screen">
<link href="{% static 'css/table.css' %}" rel="stylesheet">
    <title>Go Fish! {% block title %}{% endblock %}</title>

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <img class="navbar-brand" src="{% static "top_logo.gif" %}" alt="Picture of logo" />
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

           
            {% if user.is_authenticated %}
                 <ul class="nav navbar-nav">
                <li class="navbar-brand"> Welcome {{ user.username}}! </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
             <li><a href="/">Home</a></li>
             <li><a href="/play">Play</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/profile">Profile</a></li>
             <li><a href="/help">Help</a></li>
             <li><a href="/logout">Sign Out</a></li>
                </ul>

        {% else %}
                <ul class="nav navbar-nav">
                <li class="navbar-brand">Welcome Stranger!</li>
                </ul>

             <ul class="nav navbar-nav navbar-right">
             <li ><a href="/">Home</a></li>
             <li ><a href="/help">Help</a></li>
             <li ><a href="/register">Register</a></li>
             <li ><a href="/login">Sign In</a></li>
             </ul>
        {% endif %}
        
          </ul>

        </div>
      </div>
    </div>
<center>

    <div class="container">

      <div class="page-header" id="banner">
         {% if user.is_authenticated %}
 {% if user_profile %}
        <div class="row">
          <div class="col-lg-14">
           <div class="well jumbotron">

        <center>
<h4>
Rod: {{ user_profile.rod.name }} {% if user_profile.rod.name == "Wooden Fishing Rod" %} <img src="{% static "rod1.png" %}" alt="Picture of rod1"  height="50" width="50"/> {% elif user_profile.rod.name == "Iron Fishing Rod" %} <img src="{% static "rod2.png" %}" alt="Picture of rod2"  height="50" width="50"/>
                        {%elif user_profile.rod.name == "Steel Fishing Rod" %} <img src="{% static "rod3.png" %}" alt="Picture of rod3"  height="50" width="50"/>
                        {% elif user_profile.rod.name == "Mithril Fishing Rod" %} <img src="{% static "rod4.png" %}" alt="Picture of boat"  height="50" width="50"/> {% endif %} - Boat: {{ user_profile.boat.name }} {% if user_profile.boat.name == "Raft" %} <img src="{% static "raft.gif" %}" alt="Picture of boat"  height="50" width="50"/> {% elif user_profile.boat.name == "Kayak" %} <img src="{% static "row.gif" %}" alt="Picture of boat"  height="50" width="50"/>
                        {%elif user_profile.boat.name == "Motor boat" %} <img src="{% static "motor.gif" %}" alt="Picture of boat"  height="50" width="50"/>
                        {% elif user_profile.boat.name == "Speed boat" %} <img src="{% static "speed.gif" %}" alt="Picture of boat"  height="50" width="50"/> {% endif %} - Bait: {{ user_profile.bait.name }} {% if user_profile.bait.name == "Worm" %} <img src="{% static "bait1.png" %}" alt="Picture of bait1"  height="50" width="50"/> {% elif user_profile.bait.name == "Basic Lure" %} <img src="{% static "bait2.png" %}" alt="Picture of bait2"  height="50" width="50"/>
                        {%elif user_profile.bait.name == "Advanced Lure" %} <img src="{% static "bait3.png" %}" alt="Picture of bait3"  height="50" width="50"/>
                        {% elif user_profile.bait.name == "Bucket O'Bait" %} <img src="{% static "bait4.png" %}" alt="Picture of bait4"  height="50" width="50"/> {% endif %}
<br/> You have {{ user_profile.balance }} gold coins  <a href = /shop> Click here to Shop! </a>
</h4>
</center>
</div>
  {% endif %}
{% endif %}
</div>
</div>
        </div>
      </div>




<div class="container-fluid" style="max-width:800px">
    <div class="row-fluid">
     {% if user.is_authenticated %}
        <div class="span5">
            {% else %}
            <div class="span3">
                {% endif %}
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span8">
         
            {% block body_block %}
            {% endblock %}

        </div>
    </div>
  </div>
</center>



<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootswatch.js' %}"></script>


</body>

</html>
