{% extends "base2.html" %}

{% block title %}Help{% endblock %}

{% block body_block %}
    <div class="jumbotron">
    <h2> Go Fish! Help </h2>
    </div>

    <div class="container-fluid">
    <h3> Welcome to the epic battle between man and fish!`</h3>

<strong>In the begining, there was only logging on </strong>
<br>
<br>
To register, simply click on Register, and give a username and password. It couldnt be simpler. If you have already registered, you can hit the log in button to continue from where you left off. Once logged in, you can begin (or continue) a game by hitting the play button.
<br>
<br>
<strong>Navigating the merciless sea </strong>
<br>
<br>
The game consists of a 5x5 map of ocean. You begin in the upper left corner of the map, where you will see your trusty vessel. You can move to any square on the map by clicking on it. Your boat will move to the new spot, but be careful. Moving takes time, and there are only so many hours in the day. 
<br>
You have 8 hours to complete your days fish-related activities. The time you have left is shown beside the map. You begin your adventure with a simple raft, which takes one whole hour to move a distance of one square. Movement is in horizontal or vertical directions only.
<br>
<br>
<strong>The battle of the (fishing) line.</strong>
<br>
<br>
Once you have reached a nice spot, you can try some fishing. Click on your little boat to spend 15 minutes of the day fishing. Your haul will be shown beside the map, along with the total number of fish you have caught so far. The number of fish you catch will deplete the more you fish one spot. Some areas also have more fish that others, try to find the big catches!

The day is over once time runs out. You can start a new day (keeping your current totals) by hitting play again. The fish will be re-stocked, but be aware that the big hauls will move from day to day, they wont always be in the same place.
<br>
<br>
<strong> Make use of your slimy, oily booty.</strong>
<br>
<br>
Now you may be asking what you do with all these fish? You can, at any point, click the shop button. This will sell all your caught fish, and give you nice, shiny gold coins instead. You can spend these gold coins in the shop on better equipment. Better baits and rods will help increase the number of fish you catch (assuming there are any fish left). Faster boats will reduce the time taken to move from place to place.
<br>
<br>
<strong> Upgrade your equipment and try to make your fortune on the waves!</strong>

    </div>
{% endblock %}