 <!DOCTYPE html>
{% extends 'base2.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% if Game_Over %}

<div class="hero-unit" style="background-color:white !important;">
	<center>
<br/>
         <div class="jumbotron">
   {% load static %}

       <h1>Game Over!</h1>
	   </div>
</div>
{% else %}

<div class="hero-unit" style="background-color:white !important;">
	
	<center>
<br/>
         <div class="jumbotron">
   {% load static %}

       <h1>Fish Here!</h1>

      
<br/>
<br/>

<table border="0.1" color="white">
{% for i in "01234" %}	
	{% with is=i|stringformat:"s" %}
    <tr>
	{% for j in "01234" %}	
	{% with js=j|stringformat:"s" %}
	{% with ""|add:is|add:"_"|add:js as joined %}
        {% ifequal coords  joined %}<td bgcolor="#026AA6" height="70px" width="70px"></td> {% else %} <td bgcolor="#2fa4e7" height="70px" width="70px"><a href="/go_fish/move/{{ joined }}"></a></td> {% endifequal %}
	{% endwith %}
	{% endwith %}
    {% endfor %}
	{% endwith %}
	</tr>
{% endfor %}
</table> 

<br/>

<h2>Time Left: {{ game.time_left}}
<br/>
<br/>
You have caught {{ game.fishTotal }} fish today.
</h2>
<br/>
<br/>


<form><input class="btn btn-primary"  type="button" value="Fish" onClick="window.location.href='http://127.0.0.1:8000/go_fish/fish/'"  style="width:250px !important; height:60px !important; font-size:24px;"></form>
	</center>
	</div>
</div>

{% endif %}
{% endblock %}
