{% extends 'base2.html' %}
{% block title %}Register with Go-Fish!{% endblock %}
{% block body_block %}

	<div class="jumbotron">
{% load static %}

        <h2>Register with Go Fish!</h2>
        <br/>

     <div class="container">
        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}

         <form id="user_form" method="post" action="/go_fish/register/"   enctype="multipart/form-data">
  <fieldset>
    <legend>Register Here</legend>

      <!--user input fields_-->
            {% csrf_token %}
       <div class="form-group">
      <label for="username" class="col-lg-2 control-label">UserName</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="username" name="username">

      </div>
    </div>
<br/><br/><br/>
       <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="password" name="password">
          </div>
           </div>
            <br />
            <!-- Provide a button to click to submit the form. -->
      <br/>
            <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
      </fieldset>
</form>
 {% endif %}
    </div>
</div>

{% endblock %}