{% extends 'base.html' %}
{% block title %}Register with Go-Fish!{% endblock %}
{% block body_block %}

	<div class="hero-unit" style="background-color:white !important;">
{% load static %}


        <h1>Register with Go Fish!</h1>
        <br/>

     <div class="container">
        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/go_fish/welcome">Return to the homepage.</a><br />
        {% else %}
        <strong>Register here!</strong><br />

         <form class="form-signin span8" id="user_form" method="post" action="/go_fish/register/"
              enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            <br />
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Register"/>

        </form>
        {% endif %}
    </div>
</div>
{% endblock %}