<!DOCTYPE html>
{% extends 'base2.html' %}
{% block title %}Shop{% endblock %}
{% block body_block %}
<div class="jumbotron">
   {% load static %}

       <h2>Go Fish! Shop</h2>
       <h3>Can we lure you in with our prices...?</h3>

      </div>


    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
          <h4>Rods Available:</h4>
        <h5>

            {% if rods %}
            <ul>
                    {% for Rod in rods %}
                    <li>{{ Rod.name }} <br/>Cost: {{ Rod.cost }} <br/>Catch up to {{ Rod.modDescriptor }}x more fish!
                     <br/> <br/><form><input class="btn btn-primary"  type="button" value="Buy" onClick="window.location.href='/buy/{{ Rod.level }}R'"  style="width:75px !important; height:30px !important; font-size:16px;"></form> </li>
                    <br/>
                    {% endfor %}
            </ul>
        {% else %}
            <Strong>There are no more upgrades available.</Strong>
        {% endif %}
        </h5>
        </div>

    <div class="col-md-4">
          <h4>Boats Available:</h4>
        <h5>

          {% if boats %}
            <ul>
                    {% for Boat in boats %}
                    <li>{{ Boat.name }} <br/>Cost: {{ Boat.cost }} <br/>Move {{ Boat.modDescriptor }}% faster!
                   <br/>
                         {% if Boat.name == "Kayak" %} <img src="{% static "row.gif" %}" alt="Picture of boat"  height="50" width="50"/>
                        {%elif Boat.name == "Motor boat" %} <img src="{% static "smallboat.gif" %}" alt="Picture of boat"  height="50" width="50"/>
                        {% elif Boat.name == "Speed boat" %} <img src="{% static "speed.gif" %}" alt="Picture of boat"  height="50" width="50"/> {% endif %}
                        <br/>   <form><input class="btn btn-primary"  type="button" value="Buy" onClick="window.location.href='/buy/{{ Boat.level }}B'"  style="width:75px !important; height:30px !important; font-size:16px;"></form> </li>
                   <br/>
                    {% endfor %}
            </ul>
        {% else %}
            <Strong>There are no more upgrades available.</Strong>
        {% endif %}
        </h5>
       </div>

        <div class="col-md-4">
          <h4>Bait Available:</h4>
            <h5>

            {% if bait %}
            <ul>
                    {% for Bait in bait %}
                    <li>{{ Bait.name }} <br/>Cost: {{ Bait.cost }} <br/>Lure up to {{ Bait.modDescriptor }}x more fish!
                    <br/>
                   <br/> <form><input class="btn btn-primary"  type="button" value="Buy" onClick="window.location.href='/buy/{{ Bait.level }}b'"  style="width:75px !important; height:30px !important; font-size:16px;"></form> </li>
                   <br/>
                    {% endfor %}
            </ul>
        {% else %}
            <Strong>There are no more upgrades available.</Strong>
        {% endif %}
        </h5>
        </div>
      </div>




{% endblock %}