<!DOCTYPE html>
{% extends 'base2.html' %}
{% block title %}Shop{% endblock %}
{% block body_block %}
<div class="jumbotron">
   {% load static %}

       <h1>Go Fish! Shop</h1>
       <h2>Can we lure you in with our prices...?</h2>

      </div>


    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
          <h2>Rods Available:</h2>
        <h4>

        <br/>

       {% if rods %}
            <ul>
                    {% for Rod in rods %}
                    <li>{{ Rod.name }} <br/>Cost: {{ Rod.cost }} <br/>Catch up to {{ Rod.modDescriptor }}x more fish!
                     <br/> <br/><form><input class="btn btn-primary"  type="button" value="Buy" onClick="window.location.href='http://127.0.0.1:8000/go_fish/buy/{{ Rod.level }}R'"  style="width:75px !important; height:30px !important; font-size:16px;"></form> </li>
                    <br/>
                    {% endfor %}
            </ul>
        {% else %}
            <Strong>There are no more upgrades available.</Strong>
        {% endif %}
        </h4>
        </div>

    <div class="col-md-4">
          <h2>Boats Available:</h2>
        <h4>
        <br/>
          {% if boats %}
            <ul>
                    {% for Boat in boats %}
                    <li>{{ Boat.name }} <br/>Cost: {{ Boat.cost }} <br/>Move {{ Boat.modDescriptor }}% faster!
                   <br/><br/>   <form><input class="btn btn-primary"  type="button" value="Buy" onClick="window.location.href='http://127.0.0.1:8000/go_fish/buy/{{ Boat.level }}B'"  style="width:75px !important; height:30px !important; font-size:16px;"></form> </li>
                   <br/>
                    {% endfor %}
            </ul>
        {% else %}
            <Strong>There are no more upgrades available.</Strong>
        {% endif %}
        </h4>
       </div>

        <div class="col-md-4">
          <h2>Bait Available:</h2>
            <h4>
            <br/>
            {% if bait %}
            <ul>
                    {% for Bait in bait %}
                    <li>{{ Bait.name }} <br/>Cost: {{ Bait.cost }} <br/>Lure up to {{ Bait.modDescriptor }}x more fish!
                    <br/><br/> <form><input class="btn btn-primary"  type="button" value="Buy" onClick="window.location.href='http://127.0.0.1:8000/go_fish/buy/{{ Bait.level }}b'"  style="width:75px !important; height:30px !important; font-size:16px;"></form> </li>
                   <br/>
                    {% endfor %}
            </ul>
        {% else %}
            <Strong>There are no more upgrades available.</Strong>
        {% endif %}
        </h4>
        </div>
      </div>




{% endblock %}