  <!DOCTYPE html>
{% extends 'base2.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block body_block %}


<div class="hero-unit" style="background-color:white !important;">
         <div class="jumbotron" style="background-color:white !important;">
	<h3 style="float:right;">
		{% if user.is_authenticated %}

                  <form><input class="btn btn-primary"  type="button" value="Play" onClick="window.location.href='play'"  style="width:250px !important; height:60px !important; font-size:24px;"></form>
                  {% else %}
               
                  <form><input class="btn btn-primary"  type="button" value="Register" onClick="window.location.href='register'"  style="width:250px !important; height:60px !important; font-size:24px;"></form>
                  {% endif %}

                  <br/>
                  <br/>

        <form><input class="btn btn-success" type="button" value="How to Play" onClick="window.location.href='help'" style="width:250px !important;"></form>
</h3>
{% if user.is_authenticated %}
                 <h1>Hi {{ user.username}}! <br/>Welcome to</h1>
                  <img src="{% static "logo.gif" %}" alt="Picture of logo" /
{% else %}
                  <h1>Welcome to</h1><br />
                  <img src="{% static "logo.gif" %}" alt="Picture of logo" />
{% endif %}
</center>
	</div>
</div>
{% endblock %}



