<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}

	<div class="hero-unit" style="background-color:white !important;">
	{% load static %}
	<center>
        <h1>Welcome to Go Fish!</h1><br />
        <img src="{% static "logo.gif" %}" alt="Picture of logo" /> 
	<br>
	<br>
	 <form><input class="btn btn-primary" type="button" value="Register" onClick="window.location.href='http://127.0.0.1:8000/go_fish/register/'"></form> 
        <form><input class="btn btn-success" type="button" value="How to Play" onClick="window.location.href='http://127.0.0.1:8000/go_fish/help/'"></form>
	</center>
	</div>
{% endblock %}
