  <!DOCTYPE html>
{% extends 'base2.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block body_block %}


<div class="hero-unit" style="background-color:white !important;">
         <div class="jumbotron" style="background-color:white !important;">

{% if user.is_authenticated %}

     <h2>Hi {{ user.username}}! <br/>Welcome to</h2>
                  <img src="{% static "logo.gif" %}" alt="Picture of logo">
                <br/><br/>
                  <form><input class="btn btn-primary" type="button" value="Play" onClick="window.location.href='play'" style="width:250px !important; height:60px !important; font-size:24px;"></form>

                  {% else %}
                <h2>Welcome to</h2><br />
                  <img src="{% static "logo.gif" %}" alt="Picture of logo" />
                     <br/><br/>
                <form><input class="btn btn-primary" type="button" value="Register" onClick="window.location.href='register'" style="width:250px !important; height:60px !important; font-size:24px;"></form>
                  {% endif %}

                  <br/>


        <form><input class="btn btn-success" type="button" value="How to Play" onClick="window.location.href='help'" style="width:250px !important;"></form>

</center>
</div>
</div>
{% endblock %}
